p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  strong
    span(style='font-weight:bold;font-size:32px;') Datenschutzerklärung Kunden 
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Diese Datenschutzerklärung gilt für die Verarbeitung personenbezogener Daten von Kunden, innerhalb der App „Vendo“. Sofern nicht anderslautend angegeben, ist der Verantwortliche für die Verarbeitung dieser personenbezogenen Daten die TaskDone UG (nachfolgend bezeichnet als „TaskDone“).
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Wir bei TaskDone arbeiten jeden Tag dafür, Einzelhandel, Gastronomie und Erlebnis digital hochwertig zu präsentieren. Das beinhaltet speziell bei unserer Bestellfunktion, dass personenbezogene Daten erhoben werden und diese auch geschützt werden müssen.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  strong
    span(style='font-weight:bold;font-size:24px;') Welche personenbezogenen Daten verarbeiten wir und warum 
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Sobald Sie über unsere Dienstleistungen mit Vendo interagieren, erfassen und verarbeiten wir Ihre personenbezogenen Daten. TaskDone kann Ihre personenbezogenen Daten für die folgenden Zwecke verarbeiten.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;') 1. 
  em
    span(style='font-style:italic;font-size:16px;') Bestellprozess
  span(style='font-size:16px;')  
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Wir verarbeiten die personenbezogenen Daten, die Sie uns übermitteln, wenn Sie Ihre Kontaktdaten für die Lieferung hinterlegen. Diese personenbezogenen Daten sind erforderlich, um Ihre Bestellung auszuführen, Ihre Bestellung zu bestätigen und die Zahlung sowie eine mögliche Erstattung zu ermöglichen. Die Rechtsgrundlage für diese Verarbeitung personenbezogener Daten besteht darin, dass sie für die Erfüllung eines Vertrags erforderlich ist, wie in der DSGVO definiert. Wir verarbeiten die folgenden personenbezogenen Daten im Bestellprozess:
ul(style='list-style-type: undefined;margin-left:26px;')
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Name
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Adressdaten
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Kontaktdaten
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Bestellungs- und Transaktionsdaten
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;') 2. 
  em
    span(style='font-style:italic;font-size:16px;') Kundendienst
  span(style='font-size:16px;')  
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Wenn Sie sich mit unserem Kundendienst in Verbindung setzen, verwenden wir die von Ihnen übermittelten personenbezogenen Daten, um Ihre Frage zu beantworten oder Ihre Beanstandung zu bearbeiten. Die Rechtsgrundlage für diese Verarbeitung personenbezogener Daten besteht darin, dass sie für die Erfüllung eines Vertrags und/oder die Befolgung der Rechtspflichten von TaskDone, wie in der DSGVO definiert, erforderlich ist. Wir verarbeiten die folgenden personenbezogenen Daten für Kundendienstzwecke:
ul(style='list-style-type: undefined;margin-left:26px;')
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Name
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Adressdaten (sofern zutreffend)
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Kontaktdaten
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Bestellungs- und Transaktionsdaten
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;') 3. 
  em
    span(style='font-style:italic;font-size:16px;') Kundenkonten
  span(style='font-size:16px;')  
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Wenn Sie mit unseren Dienstleistungen interagieren, erhalten Sie die Möglichkeit, ein Konto bei uns anzulegen. Die Erstellung eines Kontos basiert auf Ihrer Einwilligung. Sie können Ihre Einwilligung widerrufen und/oder Ihr Konto löschen, indem Sie sich einfach per email an uns wenden. Der Widerruf oder die Lösung Ihres Kontos kann negative Konsequenzen für Ihre Benutzererfahrung haben. Die folgenden personenbezogenen Daten werden in Verbindung mit Ihrem Konto erfasst:
ul(style='list-style-type: undefined;margin-left:26px;')
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Name
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Adressdaten
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Kontaktdaten
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;margin-left:36.0000pt;')
  strong
    span(style='font-weight:bold;font-size:24px;')  
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  strong
    span(style='font-weight:bold;font-size:24px;') Weitere Zwecke 
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Wir werden Ihre personenbezogenen Daten ausschließlich für die oben beschriebenen Zwecke verwenden. Wenn wir die Daten für einen anderen Zweck verwenden möchten, werden wir entsprechende Maßnahmen ergreifen, um Sie zu informieren, die mit der Bedeutung der von uns vorgenommenen Änderungen vereinbar sind. Wo dies unter geltendem Datenschutzrecht vorgeschrieben ist, werden wir Sie um Ihre Einwilligung bitten.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  strong
    span(style='font-weight:bold;font-size:24px;') PLZ 
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Unser Service gleicht die von Ihnen angegeben PLZ mit den PLZ des jeweiligen Lieferradius der Restaurants und Lieferdienste ab. So kann Vendo errechnen, ob ein Lieferdienst zu Ihnen liefert oder nicht.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  strong
    span(style='font-weight:bold;font-size:24px;') Wie lange bewahren wir personenbezogene Daten auf 
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Wir werden Ihre personenbezogenen Daten nur so lange aufbewahren, wie dies zur Erfüllung der Zwecke, für die wir sie erfasst haben, erforderlich ist, einschließlich der Zwecke der Erfüllung von Rechts-, Steuer-, Buchhaltungs- oder Berichterstattungspflichten. Um die angemessene Aufbewahrungsfrist für personenbezogene Daten festzustellen, erwägen wir Menge, Art und Sensibilität der personenbezogenen Daten, das potenzielle Risiko einer Schädigung durch unbefugte Verwendung oder Offenlegung Ihrer personenbezogenen Daten, die Zwecke, für die wir Ihre personenbezogenen Daten verarbeiten, sowie die Frage, ob wir jene Zwecke durch andere Mittel realisieren können, und die geltenden rechtlichen Vorgaben.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Sollten Sie Fragen zur Art der Aufbewahrung Ihrer personenbezogenen Daten haben, können Sie sich einfach per email an uns wenden.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  strong
    span(style='font-weight:bold;font-size:24px;') Weitergabe an Inserenten
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Wenn Sie eine Bestellung über unserer Dienstleistungen aufgeben, gibt Vendo Ihre personenbezogenen Daten (Bestellung, Name, Adressdaten und Telefonnummer) an den von Ihnen ausgewählten Inserenten weiter, damit dieser Ihre Bestellung ausführen kann. Da Sie ein direkter Kunde des Inserenten sind, hat dieser eine eigene Verantwortung und eigene Pflichten im Hinblick auf die Verarbeitung Ihrer personenbezogenen Daten. Sofern Sie Fragen zum Umgang mit Ihren personenbezogenen Daten seitens des Inserenten haben, sollten Sie sich direkt mit dem Inserenten in Verbindung setzen.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  strong
    span(style='font-weight:bold;font-size:24px;') Weitergabe an andere (ausgenommen Inserenten) 
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | TaskDone kann mit anderen Gesellschaften oder anderen Dritten zusammenarbeiten, um die oben beschriebene Verarbeitung durchzuführen und/oder Rechtspflichten nachzukommen.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Diese Gesellschaften und Dritten werden Ihre personenbezogenen Daten in unserem Auftrag (als Auftragsverarbeiter) oder als autonome Verantwortliche verarbeiten und haben Zugriff auf Ihre personenbezogenen Daten für die in dieser Datenschutzerklärung beschriebenen Zwecke. Wir verlangen von Gesellschaften und Dritten, Ihre personenbezogenen Daten gemäß den in dieser Datenschutzerklärung dargelegten Standards zu schützen, und wir ergreifen geeignete Maßnahmen gemäß geltendem Datenschutzrecht, um dasselbe Niveau des Schutzes und der Vertraulichkeit zu garantieren.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Wir geben Ihre Daten zudem an externe Verantwortliche weiter, wo dies angemessen oder per geltendem Recht oder Verordnung (einschließlich gerichtlicher Anordnung) vorgegeben ist, oder wo wir der Ansicht sind, dass eine Offenlegung erforderlich ist, um Rechtspflichten nachzukommen, Rechtansprüche auszuüben, durchzusetzen oder zu verteidigen oder um die wesentlichen Interessen einer Person zu schützen. Solche externen Verantwortlichen können auch Strafverfolgungsbehörden sein.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Wir können Ihre Daten außerdem gegenüber einer Gesellschaft oder einem künftigen Käufer der Gesamtheit oder der wesentlichen Gesamtheit unserer Vermögenswerte in Verbindung mit einem Verkauf oder einer Übertragung solcher Vermögenswerte offenlegen.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Ihre personenbezogenen Daten können an die folgenden Parteien weitergegeben werden:
ul(style='list-style-type: undefined;margin-left:26px;')
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;')
      | Verbundene Unternehmen von TaskDone, Tochtergesellschaften und/oder Konzerngesellschaften von TaskDone
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Software-Anbieter
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Implementierungspartner
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Zahlungs- und Kartendienstleister
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Firmen, die Umfragen zur Kundenzufriedenheit durchführen
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Fachberater
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Strafverfolgungsbehörden, Aufsichtsbehörden und/oder staatliche Behörden
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;') Künftige Käufer
  li
    span(style='font-family:Symbol;font-size:10.0000pt;') · 
    span(style='font-size:16px;font-size:12.0000pt;')
      | Andere Dritte unter der Voraussetzung, dass Sie Ihre Einwilligung in die Offenlegung erteilt haben
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  strong
    span(style='font-weight:bold;font-size:24px;') Webseiten Dritter 
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Unser digitales Angebot kann Links zu den Webseiten Dritter enthalten. Denken Sie beim Zugriff auf solche Webseiten Dritter daran, dass für jede dieser Webseiten eine eigene Datenschutzerklärung gilt. Wenngleich TaskDone bei der Auswahl von Webseiten für solche Links äußerste Vorsicht walten lässt, können wir keine Verantwortung für den Umgang mit Ihren personenbezogenen Daten seitens der Betreiber dieser Webseiten übernehmen.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  strong
    span(style='font-weight:bold;font-size:24px;') Wohin Ihre Daten gesendet werden 
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Wir können Ihre Daten in ein Land außerhalb des Europäischen Wirtschaftsraums (EWR) übertragen. Dies kann die Übertragung in andere Gerichtsbarkeiten oder den Zugriff aus anderen Gerichtsbarkeiten umfassen, einschließlich Gerichtsbarkeiten, die eventuell kein Niveau des Schutzes bieten, der den EU-Datenschutzgesetzen entspricht. Wenn wir personenbezogene Daten außerhalb des EWR übertragen, berücksichtigen wir alle geltenden gesetzlichen Pflichten, die für die Übermittlung personenbezogener Daten relevant sind, und wo kein Angemessenheitsbeschluss der Europäischen Kommission (EK) vorliegt, greifen wir auf geeignete Garantien zurück, einschließlich der von der EK genehmigten Standardvertragsklauseln. Wir haben vergleichbare geeignete Garantien bei unseren Drittdienstleistern eingeführt, und weitere Daten können auf Anfrage vorgelegt werden.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  strong
    span(style='font-weight:bold;font-size:24px;') Rechte an personenbezogenen Daten, Fragen oder Beschwerden 
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Wir informieren Sie, dass Sie im Hinblick auf die personenbezogenen Daten die Rechte ausüben können, die durch geltende Datenschutzgesetze vorgesehen sind. Dazu gehören das Recht auf Auskunft, Berichtigung oder Löschung personenbezogener Daten oder auf Einschränkung der Verarbeitung und auf Widerspruch gegen die Verarbeitung, das Recht auf Datenübertragbarkeit, das Recht, Ihre Einwilligung jederzeit zu widerrufen (unbeschadet der Rechtmäßigkeit der Verarbeitung auf der Basis einer vor dem Widerruf erteilten Einwilligung), sowie das Recht auf Beschwerde bei einer Aufsichtsbehörde.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;') Um Ihre Rechte auszuüben, wenden Sie sich bitte per email an uns. 
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  strong
    span(style='font-weight:bold;font-size:24px;') Sicherheit 
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | TaskDone nimmt den Schutz personenbezogener Daten sehr ernst, und wir ergreifen daher geeignete Maßnahmen, um Ihre personenbezogenen Daten vor Missbrauch, Verlust, unbefugtem Zugriff, unerwünschter Offenlegung und unbefugter Änderung zu schützen. Wenn Sie der Ansicht sind, dass Ihre personenbezogenen Daten nicht angemessen geschützt werden, oder dass es Anzeichen für Missbrauch gibt, wenden Sie sich bitte per email an uns.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  strong
    span(style='font-weight:bold;font-size:24px;') Datenschutzaufsichtsbehörde 
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Abgesehen von der Möglichkeit, eine Beschwerde an uns zu richten, haben Sie auch das Recht, eine Beschwerde bei der zuständigen Aufsichtsbehörde für den Schutz personenbezogener Daten vorzutragen. Sie können sich zu diesem Zweck direkt mit der Aufsichtsbehörde in Verbindung setzen.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  strong
    span(style='font-weight:bold;font-size:24px;') So erreichen Sie uns 
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Wenn Sie Fragen oder Bedenken hinsichtlich dieser Datenschutzerklärung und/oder unserer Datenschutzpraktiken haben, wenden Sie sich bitte an unseren Datenschutzbeauftragten über unser per email oder an unseren Datenschutzbeauftragten/Datenschutzbeirat:
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;') TaskDone UG
  span(style='font-size:16px;')
    br
  span(style='font-size:16px;') Rollberg 33
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;') 37520 Osterode am Harz
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  strong
    span(style='font-weight:bold;font-size:24px;') Aktualisierungen dieser Datenschutzerklärung 
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Wir können diese Datenschutzerklärung von Zeit zu Zeit aktualisieren, um auf Veränderungen durch rechtliche, technische oder geschäftliche Entwicklungen zu reagieren. Wenn wir unsere Datenschutzerklärung aktualisieren, werden wir entsprechende Maßnahmen ergreifen, um Sie zu informieren, die mit der Bedeutung der von uns vorgenommenen Änderungen vereinbar sind. Sofern dies unter geltendem Datenschutzrecht vorgeschrieben ist, werden wir Sie um Ihre Einwilligung in wesentliche Änderungen an dieser Datenschutzerklärung bitten.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;')
    | Wir ermutigen Sie, diese Erklärung regelmäßig zu prüfen, um die neuesten Informationen zu unseren Datenschutzpraktiken zu erhalten.
p(style='margin-top:5.0000pt;margin-bottom:5.0000pt;')
  span(style='font-size:16px;') Diese Datenschutzerklärung kann aktualisiert werden. 
p
  span(style='font-family:Calibri;font-size:15px;')  